{% extends "member/base.html" %}

{% block sidebarmenu %}
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fa fa-dashboard"></i>
              <p>
                Gestion des utilisateurs
                <i class="right fa fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="member" class="nav-link">
                  <i class="fa fa-circle-o nav-icon"></i>
                  <p>Adhésion</p>
                </a>
              </li>
            </ul>
          </li>
          {% if user.is_staff %}
          <li class="nav-item">
            <a href="/admin" target="_blank" class="nav-link">
              <i class="nav-icon fa fa-th"></i>
              <p>
                Administration
              </p>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
{% endblock %}



{% block contentheader %}
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Bienvenue sur l'interface d'Administration d'Earth Resistance</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
{% endblock %}
    <!-- /.content-header -->
