{% extends "member/base.html" %}

{% block sidebarmenu %}
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fa fa-dashboard"></i>
              <p>
                Gestion des utilisateurs
                <i class="right fa fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="adhesion" class="nav-link">
                  <i class="fa fa-circle-o nav-icon"></i>
                  <p>Adhésion</p>
                </a>
              </li>
              <li class="nav-item militant">
                <a href="militant" class="nav-link active">
                  <i class="fa fa-circle-o nav-icon"></i>
                  <p>Militant</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="benevole" class="nav-link">
                  <i class="fa fa-circle-o nav-icon"></i>
                  <p>Bénévole</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-th"></i>
              <p>
                Administration
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>
        </ul>
      </nav>
{% endblock %}



{% block contentheader %}
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Ajouter un adhérent</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Ajouter un adhérent</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
{% endblock %}
    <!-- /.content-header -->

{% block maincontent %}
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-8">
          <!-- general form elements -->
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Adhérent</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form">
              <div class="card-body">
                <div class="row">
                  <div class="col-10">
                    <label for="inputEmail">Addresse Email</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <label for="inputNom">Nom</label>
                    <input class="form-control" type="text" id="inputNom" placeholder="Nom">
                  </div>
                  <div class="col-5">
                    <label for="inputPrenom">Prénom</label>
                    <input class="form-control" type="text" id="inputPrenom" placeholder="Prénom">
                  </div>
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
          <!-- /.card -->
        </div>

        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
{% endblock %}
